.git
.gitignore
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.db
.ipynb_checkpoints
assets/tensorrt_compile_log.txt
latest_checkpoint.pth
latest_checkpoint_backup.pth
latest_checkpoint_hr.pth
latest_checkpoint_hr_backup.pth
best_metric_model_backup.pth
best_metric_model_hr_backup.pth
kaggledata
kaggledata/
*.bat
*.sh
*.bat.tmp
*.sh.tmp
*~
.DS_Store
