# Virtual Environment
.venv/
venv/
ENV/

# Data and large files (excluding from Git tracking)
data/
kaggledata/
*.zip
*.nii.gz
*.h5

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.cache/
.ipynb_checkpoints/

# IDE / System files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Heavy ML weights and compilation targets (Keep Git repo clean)
*.pth
*.pth_backup
*backup.pth
*.engine
*.onnx
latest_checkpoint*
best_metric_model*

# Unwanted old/backup files
CardioSeg_Progress_old.md
assets/old/
assets/training_history*.json

